/* import custom fonts  */

  @font-face {
    font-family: 'GreatVibes-Regular';
    src: url('../fonts/GreatVibes-Regular.ttf');
  }

  @font-face {
    font-family: 'Lobster-Regular';
    src: url('../fonts/Lobster-Regular.ttf');
  }


:root{
    --font-family: 'GreatVibes-Regular';
    --font-family-alt: 'Lobster-Regular';
    --gold-color: #d4c221;
    --bkg-color:#000000;
}

body{
    font-family: var(--font-family-alt);
    font-size: 16px;
    /* font color gold */
    color:var(--gold-color);
}


#title{
    font-size: 5rem; 
    font-family: var(--font-family);
    /* font shadow    */
    text-shadow: 1px 1px 5px #0c0b0b;
    text-align: center;
    font-weight: bold;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
}


.dark-bkg{
    background-color: var(--bkg-color);
    border-radius: 2px;
    box-shadow: 0.05rem 0.05rem 0.5rem;
    margin-bottom: 0.9rem;

}


.container #color-name{
    padding: 0.5rem 10rem;
    font-size: 5rem;
}

#colors{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#colors  div{
 padding: 0.5rem 1rem;   

}

.container .content{
        /* mirror gradient */
        background-image: linear-gradient(to right, hsla(0, 0%, 94%, 0.377), hsla(0, 0%, 94%, 0.384));
}

.btn-change-color {
    --width: 150px;
    --timing: 2s;
    border: 0;
    width: 100%;
    font-family: 'GreatVibes-Regular';
    margin-top: 3rem;
    color: var(--bkg-color);
    font-weight: bold;
    font-size: 2rem;
    background: var(--gold-color);
    transition: all 0.2s;
    border-radius: 3px;
  }
  
  .btn-change-color.hover {
    background-image: linear-gradient(to right, rgb(250, 82, 82), rgb(250, 82, 82) 16.65%, rgb(190, 75, 219) 16.65%, rgb(190, 75, 219) 33.3%, rgb(76, 110, 245) 33.3%, rgb(76, 110, 245) 49.95%, rgb(64, 192, 87) 49.95%, rgb(64, 192, 87) 66.6%, rgb(250, 176, 5) 66.6%, rgb(250, 176, 5) 83.25%, rgb(253, 126, 20) 83.25%, rgb(253, 126, 20) 100%, rgb(250, 82, 82) 100%);
    animation: var(--timing) linear dance6123 infinite;
    transform: scale(1.1) translateY(-1px);
    text-shadow: 1rem 0px 1rem 0px;
  }
  
  @keyframes dance6123 {
    to {
      background-position: var(--width);
    }
  }
  
  